wagon-appbar(
  data-title='layout.data.title'
  data-hide-search='layout.data.hideSearch'
  data-left-icon-fn='layout.data.leftIconFn()'
  ng-hide='layout.data.hideAppbar'
)

div(
  ui-view='content'
  class='fx-dur-450 fx-fade-up'
)
